@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
}

#container {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#weather {
    background-color: #1A7B99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

h1 {
    font-size: 45px;
}

#temperature {
    font-size: 80PX;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#degreeMax, #sunrise, #humidity {
    margin-right: 10px;
}

.horizontalLine {
    border-top: 2px solid white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.verticalLine {
    border-left: 2px solid white;
    margin-right: 5px;
    margin-left: 5px;
    height: 200px;
}

#forecasts {
    display: flex;
    flex-direction: row;
}

#day1, #day2, #day3, #day4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#otherInfos{
    margin-top: 30px;
}

#imageWeather1, #imageWeather2, #imageWeather3, #imageWeather4 {
    width: 50px;
}

@media screen and (max-width: 1000px) {
    #container{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .row{
        font-size: 20px;
    }
    #forecasts{
        flex-direction: column;
    }
    #day1, #day2, #day3, #day4 {
        flex-direction: row;
    }
    .verticalLine {
        border-top: 2px solid white;
        height: 0;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 600px) {
    #day1, #day2, #day3, #day4 {
        font-size: 20px;
    }
    #imageWeather1, #imageWeather2, #imageWeather3, #imageWeather4 {
        width: 25px;
    }
}